@import '../../variables/variables.scss';

@include mq($from: mobile) {
  #{$brand} {
    &projects-section {
      width: 100%;
      position: relative;
      background-color: $color-light-black;
      cursor: pointer;

      &__divider {
        position: absolute;
        height: 51px;
        bottom: -50px;

        #slitPath3 {
          fill: $color-light-black;
          stroke: $base-color;
          stroke-width: 0;
        }

        #slitPath2,
        #slitPath3 {
          fill: $color-light-black;
        }
        #slitPath1 {
          fill: $color-light-black;
          stroke-width: 0;
        }
      }
    }

    &curve-up {
      display: block;
      cursor: pointer;
      position: absolute;
      top: -50px;
      filter: drop-shadow(2px -1px 2px #242323);

      & path {
        fill: $color-light-black;
      }
    }

      &projects__title {
        text-align: center;
        overflow: hidden;
        font-size: 1.9rem;
        color: $base-color;
        height: 25rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &projects__subtitle {
       padding-left: 2rem;
       font-size: 1.9rem;
       cursor: pointer;
        background: linear-gradient(90deg, rgba(249,168,38,1) 0%, rgba(205,202,192,1) 40%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &projects-grid-container {
        min-width: 288px;
        max-width: 1440px;
        margin: 0 auto;
        width: 100%;
      }

      &projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%,1fr));
        color: white;

        &__item {
          position: relative;
          z-index: 2;
          display: flex;
          background: $color-light-black;
          padding: 1rem;
          justify-content: center;
          align-items: center;
          flex-flow: row wrap;

          &-img{
            width: 100%;
            position: relative;

            & img {
              height: 100%;
              width: 100%;
              will-change: transform, opacity;
            }
          }

          &-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: rgb(205,202,192);
            background: radial-gradient(circle, rgba(205,202,192,0) 0%, rgba(36,35,35,1) 100%);
            padding: 0 4rem;
          }

          &-description {
            width: 100%;
            font-size: 1rem;
            padding: 2rem;

            &-body{
              &-title {
                font-size: 1.9rem;
                padding-bottom: 2rem;
              }

              &-details {
                padding-bottom: 2rem
              }

              &-tech {
                &-wrapper {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 1.5rem;
                }

                &-items {
                  display: flex;
                  flex-wrap: wrap;
                  gap: .5rem;
                  justify-content: center;

                  &-single {
                    padding: .3rem;
                    background-color: #494646;
                    margin: 0 .5rem;
                    width: 5.5rem;
                    text-align: center;
                  }

                }
              }
            }

            &-btns {
              $btns: &;
              display: flex;
              justify-content: space-evenly;
              align-items: center;
              width: 100%;
              height: 3rem;
              margin-top: 2rem;

              #{$btns}-live {
                border: 1px solid $base-color;
                color: $color-white;
              }

              #{$btns}-live:hover {
                background-color: $color-gray;
                color: $color-light-black;
                transition: .5s;
              }

              #{$btns}-git {
                justify-content: flex-start;
                & svg:hover {
                  fill: $color-gray;
                  transition: .5s;
                }
              }
            }
          }
        }
      }
  }
}

@include mq($from: tablet) {
  #{$brand} {
    &projects-section {
      &__divider {
        height: 101px;
        bottom: -100px;
      }
    }

    &projects-grid {
      &__item {
        flex-flow: row nowrap;

        &-img,
        &-description {
          width: 50%;

          &-body {
            &-tech {
              &-wrapper {
                flex-direction: row;
              }
            }
          }
        }
      }

      &__item-reversed {
        flex-wrap: wrap;
        flex-direction: row-reverse;

      }
    }
  }
}

@include mq($from: desktop) {
  #{$brand} {
    &curve-up {
      top: -150px;
      height: 150px;
    }

    &projects-section {
      &__divider {
        #slitPath1 {
          fill: $theme-color;
        }
      }
    }

    &projects__title {
      font-size: 3rem;
    }

    &projects__subtitle {
      padding-left: 4rem;
      font-size: 2.5rem;
    }

    &projects-grid {
      &__item {
        padding: 4rem;
      }
    }

  }
}