@import 'src/variables/variables';

@include mq($from: mobile) {
  #{$brand}{
    &landing-section {
      height: 100vh;
      position: relative;
      overflow: hidden;
      z-index: 3;

      &__video {
        z-index: 1;
        top: 0;
        left: 0;
        object-fit: cover;
        height: 100%;
        width: 100vw;
        position: relative;
        background-attachment: fixed;
      }

      &__introduction {
        z-index: 2;
        text-align: center;
        left: 0;
        right: 0;
        top: calc(50% - 1rem);
        color: $base-color;
        margin: 0 auto;
        position: absolute;

        &-first-paragraph {
          font-size: 2.2rem;
          margin: 0;
        }

        &-second-paragraph {
          font-size: 1.5rem;
          margin-top: 2rem;
        }
      }
    }
  }
}

@include mq($from: desktop) {
  #{$brand}{
    &landing-section {
      &__introduction {
        &-first-paragraph {
          font-size: 3.2rem;
          margin: 0;
        }

        &-second-paragraph {
          font-size: 2rem;
          margin-top: 2rem;
        }
      }
    }
  }
}
