@import 'src/variables/variables';
@include mq($from: mobile ) {
  .circle-container {
    order: 3;
    display: flex;
    flex-flow: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    top: 15px;
    position: relative;

    li {
       width: 4rem;
       height: 4rem;
       padding: 2.5%;
       border-radius: 15%;
       display: flex;
       flex-flow: wrap;
       justify-content: center;
       align-items: center;
       position: relative;

       span {
         color: #242323;
         font-size: .6rem;
         top: -0.5rem;
         text-align: center;
      }
    }

    svg {
      display: block;
      padding: 0.1rem;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 15%;
      background-color: #242323;

    }
    @include mq($from: desktop) {
      @include on-circle($item-count: 10, $circle-size: 280%, $item-size: 20%);
      margin: 0;
      padding: 0;
    }
  }
}

@include mq($from: desktop ) {
  .circle-container {
    margin: 0;
    padding: 0;
    position: unset;

    li {
      border: solid 1px black;
      border-radius: 50%;
      background-color: #242323;
      position: absolute;
      padding: 3.5%;

      span {
        color: #cdcac0;
        position: absolute;
        top: .5rem;
        max-width: 3rem;
        line-height: 0.9rem;
      }
    }

    svg {
      position: absolute;
      width: 3rem;
      height: 3rem;
    }
  }
}
