@import 'src/variables/variables';

@include mq($from: mobile ) {
  #{$brand} {
    &about-section {
      overflow: hidden;
      width: 100%;
      position: relative;
      background-color: $color-black;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-direction: column;
      padding: $section-padding;

      &__text {
        max-width: 100%;
        font-size: 1.9rem;
        color: $base-color;
        padding-bottom: 3.4rem;

        p {
          font-size: 1rem;
          padding: 3rem 0;
          line-height: 1.7rem;
        }

        h5 {
          font-weight: normal;
        }
      }

      &__activities-list {
        font-size: 1rem;
        color: $base-color;

        li {
          display: flex;
          padding: 0.7rem 0;
          list-style: none;
          align-content: center;

          svg {
            padding-right: 0.5rem;
            align-self: center;
          }
        }
      }
    }
  }
}

@include mq($from: desktop ) {
  #{$brand} {
    &about-section {
      flex-direction: row;
      padding: 5rem;
      height: 50rem;

      #{$brand}card {
        height: 100%;
        width: 60%;
        margin: 4%;
      }

      &__text {
        padding-bottom: 0;

        p {
          font-size: 1.2rem;
          padding: 3rem 0;
        }
      }

      &__activities-list {
        font-size: 1.2rem;
        color: $base-color;

        li {
          display: flex;
          padding: 0.7rem 0;
          list-style: none;
          align-content: center;

          svg {
            padding-right: 0.5rem;
            align-self: center;
          }
        }
      }
    }
  }
}

@include mq($from: wide) {
  #{$brand}{
    &about-section {
      &__text{
        max-width: 30%;
      }
    }
  }
}