@import '../../variables/variables.scss';

@include mq($from: mobile) {
  #{$brand}{
    &right-navigation {
      list-style: none;
      display: flex;
      flex-flow: column nowrap;
      position: fixed;
      margin: 0;
      justify-content: flex-start;
      background: rgba(0, 0, 0, 0.8);
      top: 0;
      right: 0;
      height: 100vh;
      width: 100%;
      padding-top: calc(30% - 1rem);
      transition: all 0.1s;

      &__item {
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;
        position: relative;
        font-size: 1.5rem;
        color: $base-color;
        text-align: center;

        .active {
          border-bottom: 1px solid white;
          border-top: 1px solid white;
          transition: 0.3s all ease;
        }
      }

      &__item a:hover {
        cursor: pointer;
      }

      #{$brand}logo {
        width: 8.5rem;

        img {
          width: 100%;
          height: 100%;
        }

        img:hover {
          cursor: pointer;
        }
      }

      #{$brand}logo img:hover {
        cursor: pointer;
      }
    }

    &right-logo {
      position: fixed;
      bottom: 0;
      width: 8.5rem;
      z-index: 1;
      left: calc(35%);
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@include mq($from: tablet) {
  #{$brand} {
    &right-logo {
      width: 9.5rem;
      left: calc(42%);
    }
  }
}
@include mq($from: desktop) {
  #{$brand}{
    &right-navigation {
      position: unset;
      flex-flow: row nowrap;
      justify-content: flex-end;
      padding-right: 4rem;
      background: transparent;

      &__item {
        padding: 1.4rem 0;
        position: relative;
        margin-right: 1.4rem;
        font-size: 1.2rem;
      }

      &__item a:after,
      &__item a:before {
        content: "";
        width: 0;
        display: block;
        height: 1px;
        position: absolute;
        margin: 3px;
        transition: all 0.3s ease;
        transition: all 300ms ease-in;
      }

      &__item a:after {
        bottom: 25%;
        left: 0;
      }

      &__item a:before {
        top: 25%;
        right: 0;
      }

      &__item a:hover::after {
        width: 100%;
        height: 1px;
        bottom: 25%;
        background-color: #fff;
      }

      &__item a:hover::before {
        width: 100%;
        height: 1px;
        top: 25%;
        background-color: #fff;
      }
    }
      &right-logo {
        display: none;
      }
  }
}

