//@import "./src/variables/global";
@import "./src/variables/variables";

@include mq($from: mobile) {
  #{$brand} {
    &contact {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, minmax(90px, 1fr));
      grid-gap: 25px;
      background: $color-light-black;
      border-radius: 5px;
      cursor: pointer;
      will-change: width, height;
      align-content: center;
      top: 15px;
      height: 60px;


      &-wrapper {
        width: 100%;
        height: 100%;
        background: $color-light-black;
        color: $color-light-black;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        padding: 2rem;
        position: relative;
        top: 2rem;
        -webkit-box-shadow: 7px 8px 13px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 7px 8px 13px 0px rgba(0,0,0,0.75);
        box-shadow: 7px 8px 13px 0px rgba(0,0,0,0.75);
        border-radius: 5px;
      }

      &-title {
        font-size: 1rem;
        text-align: center;
        color: $color-light-black;
      }

      &-btn {
        width: 100%;
        height: 100%;
        background: $color-light-black;
        border-radius: 5px;
        will-change: transform, opacity;
        display: flex;
        justify-content: center;
        align-items: center;
        $contact-btn: &;

        #{$contact-btn}--icon {
          svg {
            width: 2rem;
            height: 3rem;
          }
        }
      }
    }
  }
}

@include mq($from: tablet) {
  #{$brand} {
    &contact {
      &-wrapper {
        padding: 6rem;
        top: 2rem;
      }
    }
  }
}

@include mq($from: desktop) {
  #{$brand} {
    &contact {
      position: relative;

      &-wrapper {
        top: 4rem;
      }
    }
  }
}
