@import 'src/variables/variables';

@include mq($from: mobile) {
  #{$brand}{
    &footer-section {
      height: 100vh;
      width: 100%;
      background-color: $base-color;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 5.5rem;

      &__end {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 100px;
        color: $base-color;
        width: 100%;
        background-color: $color-light-black;
        align-self: flex-end;

        &-logo {
          max-width: 20%;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      #{$brand}card {
        color: $color-light-black;
        height: 50%;
      }
    }

    #{$brand} {
      &contact {
        display: flex;
        flex-direction: column;
        background-color: $color-white;
        //box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.5s;
        will-change: transform;
        margin: 2%;
        color: $color-black;

        &-title {
          font-size: 1rem;
        }
      }
    }
  }
}

@include mq($from: desktop ) {
  #{$brand} {
    &footer-section {
      &#{$brand}card {
        height: 60%;
        width: 30%;
      }

      &#{$brand}contact {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        padding: 25px;
      }

      &__end {
        &-logo {
          max-width: 10%;
        }
      }
    }
  }
}